@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a @onclick="(() =>CreateHero())" target="_blank">Create Hero</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    void CreateHero()
    {
        NavigationManager.NavigateTo("/heroes/create");
    }
}