@page "/heroes"
@inject IHeroService HeroService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h3>Heroes</h3>

@if (HeroService.Heroes.Count == 0)
{
    <span>Loading Heroes</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fist Name</th>
                <th>Last Name</th>
                <th>Hero Name</th>
                <th>Comic Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hero in HeroService.Heroes)
            {
                <tr>
                    <td>@hero.FirstName</td>
                    <td>@hero.LastName</td>
                    <td>@hero.HeroName</td>
                    <td>@hero.Comic.Name</td>
                    <td>
                        <button class="btn" @onclick="(() =>HeroDetails(hero.Id))">Details</button>
                        <button class="btn" @onclick="(() =>EditHero(hero.Id))">Edit</button>
                        <PopConfirm ConfirmedChanged="EditConfirmation"/>
                        @if (Confirm)
                        {
                            DeleteHero(hero.Id);
                            Confirm = false;
                        }
                        @*<button class="btn btn-primay" @onclick="(() =>DeleteHero(hero.Id))">Delete</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public bool Confirm { get; set; }
    public void EditConfirmation(bool response)
    {
        Confirm = response;
        Console.WriteLine(Confirm);
    }

    protected override async Task OnInitializedAsync()
    {
        await HeroService.GetHeroes();
        HeroService.OnChange += StateHasChanged;
    }

    void HeroDetails(int id)
    {
        NavigationManager.NavigateTo($"/heroes/{id}");
    }
    void EditHero(int id)
    {
        NavigationManager.NavigateTo($"/heroes/edit/{id}");
    }

    async void  DeleteHero(int id)
    {
       
        await HeroService.DeleteHero(id);
        
        
    }

    public void Dispose()
    {
        HeroService.OnChange -= StateHasChanged;
    }
}
